<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %> <!-- AQUI É ONDE É CARREGADO A PÁGINA QUE A GENTE QUER ACESSAR. CASO O CONTROLLER ACESSADO SEJA DA INDEX, IRÁ CARREGAR O .erb QUE REFERENCIA O CONTROLLER-->
  </body>
</html>
