<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %> 
    </li>
</ul>

<!-- PARA SABER AS ROTAS DISPONÍVEIS, ACESSE A ROTA localhost:3000/rails/info/routes. DESTA FORMA VOCÊ VERÁ OS helpers INDICANDO AS ROTAS EXISTENTES. -->
<!-- ISTO É UMA PARTIAL. É USADO PARA REAPROVEITAR CÓDIGOS DE UM ARQUIVO HTML SEPARADO. NESTE CASO, PODEMOS USAR O MÉTODO 'render' DO RAILS PARA RENDERIZAR ESTE PEDAÇO DE CÓDIGO HTML/RAILS EM OUTRA PÁGINA HTML. -->